@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ErecrTest.Models.Offre

@{
    ViewData["Title"] = "Offer Details";
}

<h1>Offer Details</h1>

<div>
    <h4>Offer Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeContrat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeContrat)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Secteur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Secteur)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profil)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poste)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Poste)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remuneration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remuneration) $
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recruteur.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recruteur.Nom)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recruteur.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recruteur.Tel)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recruteur.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recruteur.Email)
        </dd>
    </dl>
</div>

<div>
    
    <div class="mb-3">
        <label for="cvUpload" class="form-label fw-bold">Upload Your CV (PDF/DOC)</label>
        <input class="form-control" type="file" id="cvUpload" name="cvUpload" accept=".pdf,.doc,.docx" required>
        <small class="text-muted">Max file size: 2MB | Format: PDF, DOC, DOCX</small>
    </div>

    <!-- Submit Button -->
    <div class="d-grid mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
    
    
</div>
